<ul class="bombInfo list-group">
  <li class="list-group-item" ng-class="{'list-group-item-info': globals.needsParallel}">
    <label>Is there a parallel port?</br>
      <input type="radio" ng-model="globals.hasParallelPort" ng-value="true"/>Yes
      <input type="radio" ng-model="globals.hasParallelPort" ng-value="false"/>No
    </label>
  </li>
  <li class="list-group-item" ng-class="{'list-group-item-info': globals.needsBatteries}">
    <label>Is there <em>at least</em> two batteries?</br>
      <input type="radio" ng-model="globals.hasTwoBatteries" ng-value="true"/>Yes
      <input type="radio" ng-model="globals.hasTwoBatteries" ng-value="false"/>No
    </label>
  </li>
  <li class="list-group-item" ng-class="{'list-group-item-info': globals.needsSerial}">
    <label>Is the last number of the serial number <em>even</em>?</br>
      <input type="radio" ng-model="globals.hasEvenSerial" ng-value="true"/>Yes
      <input type="radio" ng-model="globals.hasEvenSerial" ng-value="false"/>No
    </label>
  </li>
</ul>